.nav-main-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9;
}

.logo {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: -17px;
  left: -17px;
  padding-left: 5px;
  padding-bottom: 3px;
  z-index: 2;
}

.logo img {
  width: 90px;
  height: auto;
}

.links {
  width: clamp(330px, 50%, 575px);
  height: 80px;
  margin-top: -20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 30px;
  padding-bottom: 15px;
}
.link-container {
  width: fit-content;
  height: 40px;
}

.link-container:hover {
  color: #f57c00;
}

.links h1 {
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  width: 100%;
  height: 2px;
  background-color: #f57c00;
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: -10px;
  right: -20px;
  background-color: #d9d9d9;
  border-radius: 50px;
  padding: 10px 20px 10px 15px;
  z-index: 10;
}

.socials img {
  width: 45px;
  height: auto;
  border-radius: 100%;
}

.nav-hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  z-index: 2;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .nav-links-container {
    width: fit-content;
  }

  .logo-img {
    width: 70px;
    height: 70px;
  }

  .navbar-phone-dropdown-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    z-index: 9;
  }
  .hamburger-logo-lottie-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-links-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dropdown-link-name {
    font-size: 2.5rem;
    font-family: "Font1", sans-serif;
    cursor: pointer;
    padding: 8px 10px;
    overflow: hidden;
    transition: all 0.3s;
  }
  .dropdown-link-name:hover {
    color: rgb(252, 115, 30);

    text-shadow: -1px 1px 1px rgb(35, 35, 35);
  }
}
@media only screen and (max-width: 400px) {
  .nav-links-container {
    width: fit-content;
  }

  .navbar-phone-dropdown-container {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
  }
  .hamburger-logo-lottie-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-links-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #f57c00;
  }
  .dropdown-link-name {
    font-size: 2.5rem;
    font-family: "Font1", sans-serif;
    cursor: pointer;
    padding: 8px 10px;
    overflow: hidden;
    transition: all 0.3s;
  }
  .dropdown-link-name:hover {
    color: rgb(252, 115, 30);

    text-shadow: -1px 1px 1px rgb(35, 35, 35);
  }
}
