.nav-main-container {
  width: 100%;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9;
}

.logo {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: -17px;
  left: -17px;
}

.logo img {
  width: 75%;
  height: auto;
}

.links {
  width: 50%;
  height: 80px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 30px;
  padding-bottom: 15px;
}
.link-container {
  width: fit-content;
  height: 40px;
}

.link-container:hover {
  color: #f57c00;
}

.links h1 {
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  width: 100%;
  height: 2px;
  background-color: #f57c00;
}

.socials {
  width: 15%;
  height: 80px;
  position: absolute;
  top: -30px;
  right: -25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 50px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
}

.socials img {
  width: 45px;
  height: auto;
  border-radius: 100%;
}
