.projects-main-container {
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-top: 100px;
}

.projects-inner-container {
  width: 100%;
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}

.waves-grad {
  width: 100%;
  position: absolute;
  top: -10px;
  z-index: -1;
}

.waves-b-grad {
  width: 100%;
  position: absolute;
  bottom: 8px;
  z-index: -1;
}

.waves-img {
  width: 100%;
  margin: 0;
}

.waves-img img {
  width: 100%;
}

.projects-title {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  width: 100%;
}

.project-img-container {
  width: 300px;
  height: 300px;
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.project-img-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: 2;
  color: white;
  text-align: center;
  transition: all 0.8s;
}
.project-info-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 2;
  transition: all 0.8s;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.873);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.8s;
}
@media only screen and (max-width: 600px) {
  .projects-title {
    height: 130px;
    justify-content: space-between;
  }

  .project-img-container {
    width: 250px;
    height: 250px;
  }
  .wavesB {
    margin-top: -5px;
  }
  .wavesT {
    margin-bottom: -1px;
  }
}
