.services-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.services-title {
  width: 100%;
  text-align: center;
  height: clamp(300px, calc(30vw + 100px), 600px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-1 {
  font-size: clamp(2rem, 4vw, 5rem);
}

.title-2 {
  font-size: clamp(2.5rem, 6vw, 7rem);
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  width: 90%;
}

.icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 20px;
}

.icon-container img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.org-bg {
  animation: changeBg 0.4s forwards;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes changeBg {
  0% {
    background-color: white;
    transform: translateX(-100%);
  }
  100% {
    background-color: #f57c00;
    transform: translateX(0);
  }
}

.vectors-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.vector-container {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vector-container img {
  width: 60%;
  height: auto;
  margin-top: 2%;
}

.vector-title {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.vector-title h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}

.vector-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 50px;
}

.vector-blerb {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  text-align: center;
}

.vector-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
  margin-top: 30px;
}

.vector-rect {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0 auto;
  transition: all 0.4s;
}

.vector-rect:hover {
  background-color: #f57c00;
}
.vector-rect-inner {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: flex-end;
  margin: 0 auto;
  transition: all 0.4s;
}

.vector-rect-inner:hover {
  background-color: #f57c00;
}

@media only screen and (min-width: 1600px) {
  .vectors-info-container {
    flex-direction: row;
  }

  .vector-title {
    width: 100%;
  }

  .vector-container img {
    width: 80%;
    margin-bottom: 40px;
  }

  .vector-blerb {
    width: 90%;
  }

  .vector-blerb p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .services-main-container {
    height: 1305px;
  }
  .icons-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .icon-container {
    width: 100%;
    height: 100%;
  }

  .vector-title {
    width: 100%;
  }

  .title-2 {
    font-size: 2rem;
  }

  .vectors-info-container {
    height: 850px;
    background-color: aqua;
  }

  .vector-grid-container {
    gap: 8px;
    width: 95%;
  }

  .vector-title h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .vector-blerb {
    text-align: center;
    width: 95%;
  }
  .vector-blerb h1 {
    font-size: 1.2rem;
  }
  .vector-rect {
    justify-content: center;
    text-align: center;
  }
  .vector-rect-inner {
    justify-content: center;
    text-align: center;
  }
  .vector-rect h1 {
    font-size: 1rem;
    text-align: center;
  }

  .vector-rect-inner h1 {
    font-size: 1rem;
  }
}
